<nav class="bg-blue-500 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-xl font-bold">MYJOB</a>
    <div class="flex space-x-4">
      <a href="#" class="hover:text-blue-300">Entreprises</a>
      <a href="#" class="hover:text-blue-300">Collaborateur</a>
      <a href="#" class="hover:text-blue-300">Actualités</a>
      <a href="#" class="hover:text-blue-300">Contact</a>
    </div>
    <div class="flex space-x-4">

        <a routerLink="/register" class="bg-white text-blue-700 py-2 px-4 rounded hover:bg-blue-600 hover:text-white">Inscription</a>
        <a routerLink="/login" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">Connexion</a>

    </div>
  </div>
</nav>
