<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-2xl">
    <h2 class="text-2xl font-bold mb-6 text-center">Liste des offres d'emploi</h2>
    <ul>
      <li lass="mb-4 p-4 border rounded hover:bg-gray-100 cursor-pointer" >
        <h3 class="text-xl font-bold">Full stack</h3>
        <p class="text-gray-700">hztech</p>
        <p class="text-gray-500">casablanca</p>
      </li>
      <li lass="mb-4 p-4 border rounded hover:bg-gray-100 cursor-pointer" >
        <h3 class="text-xl font-bold">Full stack</h3>
        <p class="text-gray-700">hztech</p>
        <p class="text-gray-500">casablanca</p>
      </li>
      <li lass="mb-4 p-4 border rounded hover:bg-gray-100 cursor-pointer" >
        <h3 class="text-xl font-bold">Full stack</h3>
        <p class="text-gray-700">hztech</p>
        <p class="text-gray-500">casablanca</p>
      </li>
    </ul>
  </div>
</div>
