
<div class="flex justify-center min-h-screen bg-gradient-to-r from-teal-600 to-gray-800 text-white p-8">
  <div class="flex justify-between items-center">
    <div class="rounded-lg shadow-lg bg-blue-800 p-6 max-w-md">
      <img src="assets/freelancer.png" alt="entreprise Image" class="w-20 h-20 justify-center" >
      <div class="flex items-center justify-center mb-4">

        <h2 class="text-2xl font-bold">Je suis freelance</h2>
      </div>
      <p class="text-center mb-4">Je recherche une mission et je veux publier mon profil</p>
      <ul class="list-disc mx-auto mb-4 max-w-xs">
        <li>Inscription gratuite</li>
        <li>Postulez facilement aux offres de mission en ligne</li>
        <li>Partagez votre profil sur les réseaux sociaux</li>
      </ul>
      <div class="flex justify-center">
        <button class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded" routerLink="/register/candidate">
          Inscription Candidate
        </button>
      </div>
    </div>

    <div class="relative">
      <div class="absolute -left-4 top-1/2 transform -translate-y-1/2 w-8 h-8 bg-white rounded-full shadow-lg"></div>
    </div>

    <div class="rounded-lg shadow-lg bg-blue-800 p-6 max-w-md">
      <img src="assets/entrepris.png" alt="entreprise Image" class="w-20 h-20 justify-center" >
      <div class="flex items-center justify-center mb-4">
        <h2 class="text-2xl font-bold">Je suis une entreprise</h2>
      </div>
      <p class="text-center mb-4">Je veux publier des offres de mission et contacter des freelances</p>
      <ul class="list-disc mx-auto mb-4 max-w-xs">
        <li>Publiez vos offres de mission</li>
        <li>Consultez et sélectionnez des profils</li>
        <li>Contactez directement les freelances</li>
      </ul>
      <div class="flex justify-center">
        <button class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded" routerLink="/register/company">
          Inscription Entreprise
        </button>
      </div>
    </div>
  </div>
</div>
